/*--------------PAGINA GRILLA-------------*/

.btn__fixed {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 4;
}

.section__contenidoDormitorio {
    margin: 2%;
}

//Pagina Contacto
/*---PAGINA CONTACTO---*/

.form-contacto {
    width: 320px;
    margin: auto;
    background: rgba(0,0,0,0.5);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    h2 {
        color: #fff;
        text-align: center;
        font-size: 30px;
        margin: 0;
        margin-bottom: 20px;
    }
    input {
        width: 100%;
        margin-bottom: 10px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
    }
    textarea {
        @extend input ;
        min-height: 200px;
        max-height: 300px;
        max-width: 100%;
    }
}

/*---PAGINA OFERTAS---*/

.contenedorOfertas {
    width: 100%;
    min-height: 455px;
    position: relative;
    display: inline-block;
    text-align: center;
    .titulo-encima {
        position: absolute;
        top: 30px;
        left: 40%;
        color: whitesmoke;
        background: rgba(165, 42, 42, 0.8);
    }
    .parrafo-encima {
        position: absolute;
        color: whitesmoke;
        background: rgba(0, 0, 0, 0.3);
        bottom: 30px;
        right: 10px;
        font-size: 21px;
    }
    img {
        width: 100%;
        min-height: 455px;
    }
}

.mainOfertas {
    width: 100%;
    text-align: center;
    align-items: center;
    h2 {
        background: brown;
        color: white;
    }
    .imagen-carrusel {
        background-color: whitesmoke;
        max-width: 600px;
    }
  }
  