/*--------------PAGINA GRILLA-------------*/

.main__container {
    height: 8500px;
}

.main__container--dormitorio {
    height: 3500px;
}

.main__container--infantil {
    height: 4500px;
}

.btn__fixed {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 4;
}

.section__contenidoDormitorio {
    margin: 5%;
}

//Pagina Contacto
/*---PAGINA CONTACTO---*/

.form-contacto {
    width: 350px;
    margin: auto;
    background: rgba(0,0,0,0.5);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    h2 {
        color: #fff;
        text-align: center;
        font-size: 30px;
        margin: 0;
        margin-bottom: 20px;
    }
    input {
        width: 100%;
        margin-bottom: 10px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
    }
    textarea {
        @extend input ;
        min-height: 200px;
        max-height: 300px;
        max-width: 100%;
    }
}
.bg-image {
    background-image: url(img/sobrenosotros.jpt);
}
    