/*--------------PAGINA GRILLA-------------*/

.btn__fixed {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 4;
}

.section__contenidoDormitorio {
    margin: 2%;
}

//Pagina Contacto
/*---PAGINA CONTACTO---*/

.form-contacto {
    width: 320px;
    margin: auto;
    background: linear-gradient(#b31b1b, rgba(0, 0, 0, 0.5));
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    h2 {
        color: #fff;
        text-align: center;
        font-size: 30px;
        margin: 0;
        margin-bottom: 20px;
    }
    input {
        width: 100%;
        margin-bottom: 10px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
    }
    textarea {
        @extend input ;
        min-height: 200px;
        max-height: 300px;
        max-width: 100%;
    }
}

@media (min-width: 980px){
    .mainContacto{
        display: flex;
    }
}

.parrafo-contacto{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    .texto-contacto{
        color: white;
        padding: 10px;
    }
}

/*---PAGINA OFERTAS---*/

.contenedorOfertas {
    width: 100%;
    min-height: 455px;
    position: relative;
    display: inline-block;
    text-align: center;
    .titulo-encima {
        position: absolute;
        top: 50%;
        left: 40%;
        color: whitesmoke;
        background: rgba(165, 42, 42, 0.8);
    }
    .parrafo-encima {
        position: absolute;
        color: whitesmoke;
        background: rgba(0, 0, 0, 0.3);
        bottom: 50%;
        right: 10px;
        font-size: 21px;
    }
    img {
        width: 100%;
        min-height: 455px;
    }
}

.mainOfertas {
    width: 100%;
    text-align: center;
    align-items: center;
    h2 {
        background: brown;
        color: white;
    }
  }
  
  /*---Pagina Ayuda---*/

  .mainAyuda {
      margin: 5%;
      h1 {
        margin-bottom: 5%;
        padding: 1%;
        color: white;
        background-color: rgba(0,0,0,0.5);
      }
      .subtitulo-ayuda {
          color: white;
          background-color: #0d6efd;
          padding: 1%;
          margin-top: 2%;
      }
  }

  /*---Pagina Index---*/

  .sectionCategorias {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-gap: 10px;
    align-items: center;
    width: 100%;
    div {
        width: 300px;
        position: relative;
        h6 {
            text-align: center;
            color: black;
            font-size: 26px;
            padding: 2%;
        }
        a {
            text-decoration: none;
        }
    }
    .categoriasDiv1 {
        background: linear-gradient(rgba(8,131,172,1), rgba(255,255,255,0.2));
        :hover {
            background: rgba(8,131,172,0.3);
        }
    }
    .categoriasDiv2 {
        background: linear-gradient(rgba(246, 107, 88, 1), rgba(255,255,255,0.2));
        :hover {
            background: rgba(246,108,88,0.3);
        }
    }
    .categoriasDiv3 {
        background: linear-gradient(rgba(87, 188, 92, 1), rgba(255,255,255,0.2));
        :hover {
            background: rgba(87,188,92,0.3);
        }
    }
    .categoriasDiv4 {
        background: linear-gradient(rgba(144, 56, 114, 1), rgba(255,255,255,0.2));
        :hover {
            background: rgba(144,56,114,0.3);
        }
    }
    .categoriasDiv5 {
        background: linear-gradient(rgba(73, 192, 178, 1), rgba(255,255,255,0.2));
        :hover{
            background: rgba(73,192,178,0.3);
        }
    }
    .categoriasDiv6 {
        background: linear-gradient(rgba(244, 195, 102, 1), rgba(255,255,255,0.2));
        :hover{
            background: rgba(244,195,102,0.3);
        }
    }
    .categoriasDiv7 {
        background: linear-gradient(rgba(114, 100, 87, 1), rgba(255,255,255,0.2));
        :hover {
            background: rgba(144,100,87,0.3);
        }
    }
    .categoriasDiv9 {
        background:linear-gradient(rgba(244,89,97,1), rgba(255,255,255,0.2));
        :hover {
            background: rgba(244,89,97,0.3);
        }
    }
}
@media (max-width: 980px){
    .sectionCategorias{
        display: flex;
        flex-direction: column;
    }
}
